<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>studyWizards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="/stylesheet/app.css">

    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <link rel="stylesheet" href="/stylesheet/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    
</head>
<body>

        <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a class="item " id="brand" href="/" >
                StudyWiz
            </a>
            <a class="item active" id='home' href="/discuss">
            Home
            </a>

            <%if(!currentUser){%>
                <div class="right menu" >
                    <a href="/login" class="item">
                        LogIn
                    </a>
                    <a href="/register" class="item">
                        SignUp
                    </a>
                </div>


            <% } else{%>
                <a class="item" id='answer' href="/discuss/answer">
                Answer
                </a>    
                <a class="item" id='addQuestion' href="/discuss/question/new">
                Add Question
                </a>
                <form class="item" id="search" action='/search' method='post' style="margin-bottom: 0;">
                    <div class="ui icon input">
                        <input class="prompt"  type="text" placeholder="Search Posts..." name="query">
                        <i class="search icon"></i>
                    </div>
                </form>
                <div class="right menu">
                    <a href="" id="user-image-back">
                    <img src="<%= currentUser.image%>" alt="" id="user-image" > 
                    </a>
                    <a href="" class="item">
                        <%=currentUser.username%>
                    </a>
                    <a href="/logout" class="item">
                    Log Out
                    </a>
                </div>   
            <% }%>
        </div>
        </div> 

