<%- include("partials/header") %>

    <div class="content">
        <div class="left">
            <img src="/utils/images/blog.jpg" alt="">
        </div>
        <div class="rightbar">
            <!-- <i class="chart line icon"></i> -->
            <!-- <i class="fa fa-film" aria-hidden="true"></i>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <i class="fa fa-address-card" aria-hidden="true"></i>
            <i class="fa fa-folder" aria-hidden="true"></i>
            <i class="fa fa-image" aria-hidden="true"></i>
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <i class="fa fa-cut" aria-hidden="true"></i>
            <i class="fa fa-link" aria-hidden="true"></i>
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <i class="fa fa-paperclip" aria-hidden="true"></i> -->
    
    
    
            <div class="flip-container" id="myCard">
                <div class="flipper">
                    <div class="front">
                        <div class="innercontent">
                            <div class="head">Log in</div>
                            <div class="para">This is a secure system and you will need to provide your login details to access the site</div>
                            <form action="/login" method="POST">
                                <input type="text" placeholder="Username" name="username">
                                <input type="password" placeholder="Password" name="password">
                                <div id="button" class="change">Forgot password?</div>
                                <button>Login</button>
                            </form>
                            
                        </div> 
                    </div>
                    <div class="back">
                        <div class="innercontent">
                            <div class="head">Reset Password</div>
                            <div class="para">
                                Please enter your credentials first.
                                Won't be shared publicly,
                                won't be spammed.
                            </div>
                            <form action="#">
                                <input type="text" placeholder="Username" name="username">
                                <input type="email" placeholder="Email address" name="password">
                                <button class="reset">Reset Password</button>
                                <div id="button2" class="change2">Back to log-in page</div>
                            </form>
                            
                        </div> 
                    </div>
                </div>
            </div>
                
        </div>
    </div>

    

    <script src="/script/login.js"></script>

<%- include("partials/footer") %> 